SSO_USERNAME=your_username
SSO_PASSWORD=your_password
CHROMIUM_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
HEADLESS=false
HOST=0.0.0.0
PORT=3000
REDIS_URL=redis://127.0.0.1:6379
REDIS_KEY=gw:wsession
REDIS_TTL_SECONDS=3600
REDIS_TTL_COOKIE_NAMES=GWSESSION

MIC_USERNAME=
MIC_PASSWORD=
MIC_LOGIN_URL=https://login.made-in-china.com/
MIC_TARGET_URL=https://www.made-in-china.com/
MIC_REDIS_KEY=madeinchina:cookies
MIC_REDIS_TTL_COOKIE_NAMES=
MIC_MANUAL_LOGIN_TIMEOUT_SECONDS=120
